body{
    background-image: url("background.jpg");
    background-size: cover;
}
.form-group{
    position: absolute;
    top: 26vh;
}

.input-field
{
    background: black;
    display: flex;
    margin-left: 34vw;
    width: 25vw;
    margin-top: 2vh;
}